:root {
	--main-back-color: rgb(255, 255, 255);
	--canvas-back-color: rgb(212, 212, 212);
	--main-element-color-rgb: 32, 32, 32;
	--main-element-color: rgb(var(--main-element-color-rgb));
	--main-element-color-transparent: rgba(var(--main-element-color-rgb), 0);
	--main-element-line-thickness: 2px;
	--pørt-radius: 3px;
	font-size: 14px;
	font-family: sans-serif;
}

* {
	overflow: visible;
}

@media (prefers-color-scheme: dark) {
	:root {
		--main-back-color: rgb(32,32,32);
		--main-element-color-rgb: 212, 212, 212;
		--canvas-back-color: rgb(68, 62, 62);
		--main-element-color: rgb(var(--main-element-color-rgb));
		--main-element-color-transparent: rgba(var(--main-element-color-rgb), 0);
	}
}

.App {
	background-color: var(--canvas-back-color);
	--text-color: white;
	--text-back-color: rgb(32,32,32);
	font-size: 14px;
}

.TextBubble-text {
	fill: var(--main-element-color);
	font-size: .8em;
	font-weight: 550;
	font-family: sans-serif;
}

.TextBubble-back {
	fill: var(--main-back-color);
}

.NødeTitle .TextBubble-text {
	font-size: 1em;
}

.Nøde-back {
	fill: var(--main-back-color);
	stroke: var(--main-element-color);
	stroke-width: var(--main-element-line-thickness);
}

.Høse {
	stroke: var(--main-element-color);
	stroke-width: var(--main-element-line-thickness);
}

.SVGRoundRectCutout {
	stroke: var(--main-element-color);
	fill: var(--main-back-color);
	stroke-width: var(--main-element-line-thickness);
}

.Pørt-ring {
	stroke: var(--main-element-color);
	stroke-width: var(--main-element-line-thickness);
	fill: var(--main-back-color);
	r: var(--pørt-radius);
}
